.login{
  background-color: #080710;
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
}
.logindetail {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.login-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 30px;
}

.login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.login-font-bold {
  font-weight: bold;
  color:rgb(22, 209, 212);
}

/* .login-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 24px;
}

.logindetail {
  display: flex;
  justify-content: center;
}

.login-button {
  width: 100%;
}

.login-text-noacc {
  text-align: center;
  margin-top: 16px;
}

.login-font-bold {
  font-weight: bold;
} */