@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: #f5f5f5;
}

.btn {
  @apply bg-[lightblue] hover:bg-blue-600 py-3 px-6 text-slate-50 rounded-lg w-auto transition;
}

.btn:active {
  @apply scale-95;
}